{% import "macros.html" as m %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">        
		<title>{% block title %}Dhamma Map{% endblock %}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="../static/jquery.blockUI.js"></script>
        <style>
			input 	{ display : block; 	}
			ul 		{ margin  : 0px; 	}
			#flashes{ /*margin  : 20px;*/
					  /*border  : 1px solid transparent;   stops jerks in $.slideUp() and $.slideDown() */
					  background-color : pink;	
					  /*display: none;*/
					  }
			#formdiv{ border  : 1px solid blue;
					  padding : 0 20px 20px 20px;
					  }
			{% block mediaCSS %}
			{% endblock %}
        </style>
    </head>
	<body>
 		<noscript>
			<h1>This website requires Javascript to be enabled!</h1>
        </noscript>
		<div id="js-only" style="display:none">
			<div>
			    <ul id="flashes">
					{{ fmsgs }}
				</ul>
			</div>
			<div class="content">
				{% block maincontent %}
				{% endblock %}
			</div>
			<div>
				<footer>
					<hr>                
					<p>
					{% if user %}
						Logged in as: <span style="background-color: OldLace">{{ user.forename }} {{ user.lastname }}</span>
						| <a href="/logout">Logout</a>
					{% else %}
						Not logged in yet: <a href="/login">Login or Forgot Password)</a>
					{% endif %}
						| <a href="/">Home</a>
						| <a href="/signup">New user</a>
						| <a href="/secure{{ token }}">Secured page</a> (you can only see this after login)
					</p>
				</footer>
			</div>
			<script src="../static/dhammamap.js"></script>
			<script>
				document.getElementById("js-only").style.display = "block";
				{% block mediaJS %}
				{% endblock %}    
			</script>
        </div>   
	</body>
</html>