{% extends "base.html" %}

{% block mediaCSS %}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with our animation centered, and no-repeating 
.wait {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
  //  background: rgba( 255, 255, 255, .8 ) 
              //  url('static/snakes-chasing.gif') 
              //  50% 50% 
              //  ;
}*/

/* no-repeat
*/


{% endblock %}

{% block maincontent %}
<!--todo: support HTML5 features (red in np++) in older browsers eg IE9 with a polyfill eg webshim for -->
<div id="formdiv">
	<h1>Login</h1>
	<form action="/login" method="POST">
		{{ mcr.input_csrf() }}
		{{ mcr.input_email() }}
		<br>
        <div>    
            {{ mcr.input_password() }}
            <button class='i defaultAction' type="submit" class= formaction="/login" />
            <button class=i type="submit" id="forgot" formaction="/forgot" formnovalidate>Forgot</button>
		</div>
		<!--a id="forgot" href="/forgot">Forgot password</a-->
		<br>
		<br>
		<button type="submit">Login</button>
	</form>
</div>
{% endblock %}

{% block mediaJS %}
<script src="../static/dhammamap.js"></script>
{% endblock %}
