{% extends "base.html" %}

{% block maincontent %}
<h1>Dhamma Map</h1>
<p>Skeleton implementation for Dhamma Map.</p>

<p>You will have to take care of the following items:</p>
<ol>
    <li>
        Send email verification and password recovery messages via email
    </li>
    <li><a href="https://developers.google.com/appengine/docs/python/config/appconfig#Secure_URLs">
        Configure</a> login and password reset urls to use https
        (you will have to deploy your app to test this)
    </li>
</ol>

<p>Try it out by registering <a href="/signup">here</a>.
</p>


{% endblock %}