{% extends "base.html" %}

{% block title %}Register a new user{% endblock %}

{% block maincontent %}
<div id="formdiv">
    <h1>Register a new user!
    </h1>
    <form action="/signup/x" method="POST">
		{{ mcr.input_csrf() }}
        <label for="ema">Email address</label>
        <input type="text" name="ema" >
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" >
        <br>
        <label for="forename">Forename</label>
        <input type="text" name="forename" >
        <br>
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" >
        <br>
        <input type="submit" value="Create user" >
    </form>
</div>
{% endblock %}

{% block mediaJS %}
<!-- <script src="../static/dhammamap.js"></script> -->
{% endblock %}
